.exercise {
  //
  &__desc {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #7e7e82;
  }
  //
  &__separate {
    width: 100%;
    margin: 10px 0 40px 0;
    height: 1px;
    background-color: #dadcd6;
  }
  &__list {
    user-select: none;
  }
  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }
  //
  &__delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    z-index: 999;
    //
    &--notification {
      font-size: 1.6rem;
      color: #333;
      font-weight: 700;
    }
    //
    &--action {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    &--btn {
      width: 100px;
      padding: 10px;
      font-size: 1.6rem;
      font-weight: 600;
      transition: all 0.2s ease;
      &:hover {
        scale: 1.1;
      }
    }
    &--sure {
      background: #d9534f;
      border-radius: 10px;
      color: #fff;
    }
    &--cancel {
      border: 1px solid #333;
      border-radius: 10px;
    }
  }

  &__adding {
    background: #99ecc7;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #333;
    font-weight: 700;
    font-size: 1.6rem;
    color: #333;
    transition: all 0.2s ease;
    &:hover {
      scale: 1.05;
    }
    &--icon {
      width: 30px;
      height: 30px;
    }
  }

  //
  &__heading {
    line-height: 148%;
    font-weight: 700;
    font-size: 3rem;
    color: #333;
    user-select: none;
  }

  //
  &__add {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px dotted #444947;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-weight: 500;
    &:hover {
      scale: 1.02;
    }
    &--icon {
      width: 40px;
      height: 40px;
    }
    &--icon-options {
      width: 20px;
      height: 20px;
    }
  }
  &__add-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(69, 197, 75);
    &:hover {
      text-decoration: underline;
    }
  }
  //
  &__input {
    margin: 10px 0;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid #b0b0b6;
    border-radius: 10px;
  }
  //
  &__title {
    margin-top: 15px;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    &--options {
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 500;
      color: #7e7e82;
    }
    &--new {
      font-size: 2rem;
      font-weight: 500;
      color: #7e7e82;
    }
  }

  //
  &__action-btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  //
  &__action--cancel {
    background: #fff;
    border: 1px solid #292e39;
    color: #333;
    &:hover {
      background: #d9534f;
      color: #fff;
    }
  }
  &__add-optionsSelect {
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
    &:hover {
      scale: 1.1;
    }
  }
  &__add--icon-optionsSelect {
    width: 30px;
    height: 30px;
  }
  &__btn {
    width: 100px;
    height: 50px;
    padding: 10px;
    background: #99ecc7;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s ease;
    color: #fff;
    &:hover {
      scale: 1.05;
    }
  }
  &__action--cancel {
    background: #fff;
    border: 1px solid #292e39;
    color: #333;
    &:hover {
      background: #d9534f;
      color: #fff;
    }
  }
  &__wrap {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444947;
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  &__button {
    width: 80px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s ease;
    color: #fff;
    transition: all 0.1s ease;
    &--delete {
      border: 1px solid #d9534f;
    }
    &--edit {
      border: 1px solid #99ecc7;
    }
    &:hover {
      scale: 1.01;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}

.loader {
  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  &__text {
    font-size: 3rem;
    font-weight: 700;
    color: #d9534f;
  }
  --r1: 154%;
  --r2: 68.5%;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}
