.courses {
  &__action {
    height: 100%;
  }
  &__separate {
    width: 100%;
    margin: 10px 0 40px 0;
    height: 1px;
    background-color: #dadcd6;
  }
  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  &__avatar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__icon {
    width: 20px;
  }
  &__name {
    width: 200px;
    font-weight: 700;
    line-height: 130%;
  }
  &__name-author {
    background: #1be189;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    line-height: 120%;
  }
  &__img {
    border-radius: 10px;
    width: 100px;
    height: 70px;
    object-fit: cover;
  }
  &__list {
    user-select: none;
  }
  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }
  &__btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    background: #d9534f;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    z-index: 999;
    &--notification {
      font-size: 1.6rem;
      color: #333;
      font-weight: 700;
    }
    &--action {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    &--btn {
      width: 160px;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: 700;
      font-size: 1.6rem;
      transition: all 0.2s ease;
      &:hover {
        scale: 1.01;
      }
    }
    &--sure {
      background: #d9534f;
      border-radius: 10px;
      color: #fff;
    }
    &--cancel {
      border: 1px solid #333;
      border-radius: 10px;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &--input {
      background: #f5f5f5;
      border-radius: 10px;
      color: #292e39;
      font-size: 1.6rem;
      font-weight: 600;
      width: 100%;
      height: 100%;
      line-height: 100%;
      padding: 15px;
    }
    &--btn {
      border-radius: 10px;
      width: 100px;
      padding: 12px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      &:hover {
        scale: 1.05;
      }
    }
  }
  &__adding {
    background: #99ecc7;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffff;
    font-weight: 700;
    font-size: 1.6rem;
    transition: all 0.2s ease;
    &:hover {
      scale: 1.05;
    }
    &--icon {
      width: 30px;
      height: 30px;
    }
  }
  &__border--left {
    border-radius: 10px 0 0 0;
  }
  &__border--right {
    border-radius: 0 10px 0 0;
  }
  &__item {
    width: 100%;
    margin: 20px auto;
    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 16px;
      thead {
        tr {
          th {
            font-weight: 700;
            font-size: 1.6rem;
            background-color: #f4f4f4; /* Màu nền cho phần tiêu đề */
            color: #333;
            text-align: left;
            padding: 10px 15px;
            border-bottom: 2px solid #ccc; /* Đường viền dưới tiêu đề */
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f9f9f9; /* Màu nền cho các dòng lẻ */
          }

          &:nth-child(even) {
            background-color: #e6e6e6; /* Màu nền cho các dòng chẵn */
          }

          &:hover {
            background-color: #d1e7dd; /* Đổi màu nền khi hover */
            cursor: pointer;
          }

          td {
            vertical-align: middle;
            padding: 10px 15px;
            border-bottom: 1px solid #ddd; /* Đường viền giữa các dòng */
            overflow: hidden;
          }

          /* Style cho các button */
          .btn {
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-size: 14px;
            width: 80px;
            height: 40px;
            transition: all 0.2s ease;
            &.btn-warning {
              padding: 10px;
              background-color: #f0ad4e;
              &:hover {
                background-color: #ec971f;
                scale: 1.1;
              }
            }

            &.btn-danger {
              padding: 10px;
              margin-left: 10px;
              background-color: #d9534f;
              &:hover {
                background-color: #c9302c;
                scale: 1.1;
              }
            }
          }
        }
      }
    }
  }
  &__heading {
    line-height: 148%;
    font-weight: 700;
    font-size: 3rem;
    color: #333;
    user-select: none;
  }
  &__create {
    user-select: none;
    &--btn {
      background: #1be189;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #fff;
      font-weight: 700;
      font-size: 1.6rem;
      transition: all 0.2s ease;
      &:hover {
        scale: 1.01;
      }
    }
    &--link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
.course-creation {
  &__submit {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &--btn {
      background: #f0ad4e !important;
      color: #ffff !important;
      transition: all 0.2s ease;
      &:hover {
        scale: 1.1;
      }
    }
  }
  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #7e7e82;
  }
  &__input {
    padding: 15px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 128%;
    }
  }
  &__textarea {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 128%;
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 128%;
    }
  }
  &__select {
    font-size: 16px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    appearance: none; // Ẩn mũi tên mặc định
    position: relative;
    cursor: pointer;
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 128%;
    }
  }
  &__subtitle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__lesson-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__button {
    width: 200px;
    padding: 15px;
    font-weight: 700;
    background: #d1e7dd;
    color: #333;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 1.8rem;
    &:hover {
      opacity: 0.9;
    }
  }
}
.loader {
  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  &__text {
    font-size: 3rem;
    font-weight: 700;
    color: #d9534f;
  }
  --r1: 154%;
  --r2: 68.5%;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}
