.dashboard {
  &__welcome-wrap {
    position: relative;
    background: #5795e1;
    border-radius: 20px;
  }
  &__background {
    position: absolute;
    bottom: -43px;
    right: -52px;
    width: 400px;
    height: 400px;
    &--img {
      width: 100%;
      height: 100%;
    }
  }
  &__welcome {
    padding: 20px;
    &--desc {
      width: 60%;
      font-size: 1.6rem;
      margin-top: 20px;
      line-height: 150%;
      text-align: justify;
      font-weight: 600;
      color: #fff;
    }
  }
  &__hello {
    font-size: 3rem;
    font-weight: 700;
    line-height: 138%;
    color: #fff;
  }
  &__more {
    margin-top: 100px;
    width: 200px;
    height: 50px;
    background: #fff;
    color: #5795e1;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s ease;
    &:hover {
      scale: 1.05;
    }
  }
  &__list {
    margin-top: 50px;
  }
  &__item {
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    background: #f9f6f6;
    gap: 50px;
    transition: all 0.2s ease;
    &:hover {
      scale: 1.05;
    }
  }
  &__item--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background: #5795e1;
    border-radius: 50%;
  }
  &__desc {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
  }
  &__number {
    display: block;
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    &--desc {
      font-size: 2rem;
      color: #4a4a4a;
    }
  }
  &__money--icon {
    width: 400px;
    height: 400px;
  }
  &__admin {
    margin-top: 30px;
  }
  &__heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__icon {
    width: 30px;
    height: 30px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  thead {
    tr {
      th {
        font-weight: 700;
        font-size: 2rem;
        background-color: #f4f4f4; /* Màu nền cho phần tiêu đề */
        color: #333;
        text-align: left;
        padding: 10px 15px;
        border-bottom: 2px solid #ccc; /* Đường viền dưới tiêu đề */
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #f9f9f9; /* Màu nền cho các dòng lẻ */
      }

      &:nth-child(even) {
        background-color: #e6e6e6; /* Màu nền cho các dòng chẵn */
      }

      &:hover {
        background-color: #d1e7dd; /* Đổi màu nền khi hover */
        cursor: pointer;
      }

      td {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd; /* Đường viền giữa các dòng */
        overflow: hidden;
      }

      /* Style cho các button */
      .btn {
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
        width: 80px;
        height: 40px;
        transition: all 0.2s ease;
        &.btn-warning {
          padding: 10px;
          background-color: #f0ad4e;
          &:hover {
            background-color: #ec971f;
            scale: 1.1;
          }
        }

        &.btn-danger {
          padding: 10px;
          margin-left: 10px;
          background-color: #d9534f;
          &:hover {
            background-color: #c9302c;
            scale: 1.1;
          }
        }
      }
    }
  }
}
