.dashboard {
  &__item {
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 200px;
    background: #ccc;
    gap: 20px;
    transition: all 0.2s ease;
    &:hover {
      scale: 1.05;
    }
  }
  &__courses {
    background: #2908d1;
  }
  &__lesson {
    background: #baea3e;
  }
  &__blog {
    background: #e8ec0b;
  }
  &__comment {
    background: #a26e40;
  }
  &__members {
    background: #b41919;
  }
  &__admin-total {
    background: #d07ab3;
  }
  &__number {
    font-size: 4rem;
    font-weight: 700;
  }
  &__desc {
    font-size: 2.5rem;
    font-weight: 600;
  }
  &__background {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__money--icon {
    width: 400px;
    height: 400px;
  }
  &__admin {
    margin-top: 30px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  thead {
    tr {
      th {
        font-weight: 700;
        font-size: 2rem;
        background-color: #f4f4f4; /* Màu nền cho phần tiêu đề */
        color: #333;
        text-align: left;
        padding: 10px 15px;
        border-bottom: 2px solid #ccc; /* Đường viền dưới tiêu đề */
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #f9f9f9; /* Màu nền cho các dòng lẻ */
      }

      &:nth-child(even) {
        background-color: #e6e6e6; /* Màu nền cho các dòng chẵn */
      }

      &:hover {
        background-color: #d1e7dd; /* Đổi màu nền khi hover */
        cursor: pointer;
      }

      td {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd; /* Đường viền giữa các dòng */
        overflow: hidden;
      }

      /* Style cho các button */
      .btn {
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
        width: 80px;
        height: 40px;
        transition: all 0.2s ease;
        &.btn-warning {
          padding: 10px;
          background-color: #f0ad4e;
          &:hover {
            background-color: #ec971f;
            scale: 1.1;
          }
        }

        &.btn-danger {
          padding: 10px;
          margin-left: 10px;
          background-color: #d9534f;
          &:hover {
            background-color: #c9302c;
            scale: 1.1;
          }
        }
      }
    }
  }
}
